body{
text-align: center;
}
#contact iframe
{
    width: 100%;
}
.contact_1 h3
{
    display: inline;
}
.contact_1 a
{
    text-shadow: none;
}
 
input
{
    background: grey
}
.travel_mainDiv {
border: 1px solid #c7c7c7;
padding-left: 0px;
padding-right: 0px;
float: none;
}
.travel_mainDiv img{
width: 50%;
}
.travel_mainDiv hr{
width: 230px;
}
.travel_mainDiv h5,.travel_mainDiv{
margin-left: 20px;
}
p{
text-align: center;
}
.text-muted{
    margin-left: 20px;
}